.Problem {
    margin: 20;
}

#indivHead {
    background-color: rgb(85, 85, 255);
    padding: 12px;
    margin: -20px;
}

#details {
    color: white;
    background-color:dodgerblue;

    border: 2px dodgerblue;
    border-style: solid;
    border-radius: 5px;

    padding: 10px 28px;

    font-size: 14pt;
    font-weight: 600;

    transition-duration: 0.2s;
    cursor: pointer;
}

#details:hover {
    background-color: transparent;
    color: white;
}
