body {
  margin: 20px;
  background-color: rgb(50, 50, 50);
  color: white;
  font-family: monospace;
}

header {
  display: flexbox;
  background-color: rgb(50, 50, 50);
}

.title {
  text-align: left;
}
